extends ../layout

block title
  title Profile
  
block sidemenu
  nav(class="sb-nav navbar navbar-light")
    span.sb-header Profile
    ul(class="nav navbar-nav sb-select")
      li
        a(href="#personal") Personal
        a(href="#education") Education
        a(href="#extracurricular") Extracurricular
        a(href="#account") Account

block content
  - if(typeof(flash) !== 'undefined') {
    - if(flash.type === 'success') {
      div.alert.alert-success
        =flash.message
    - }
  - }

  br

  div.content-container(id="personal")
    p personal stuff ;)

  div.content-container(id="education" hidden)
    p academic stuff

  div.content-container(id="extracurricular" hidden)
    p extracurricular stuff

  div.content-container(id="account" hidden)
    p#profile-section-header Account Info
    p#profile-email-header Email
    p#profile-email #{user.local.email}
