extends layout

block title
  title Applications
  
block content
  ul.application-list
  - if(applications.length == 0) {
    p You have no current applications
    a(href="/reu") Click here to search for new Research Experience opportunites
  - } else {
    ul.application-list
    each app in applications
      li
        p= app
  - }