extends layout

block title
    title Dashboard

block content
  ul.application-list
  - if(applications.length == 0) {
    p You have no submitted applications
    a(href="/reu") Click here to search for new Research Experience opportunites
  - } else {
    ul.application-list
    each app in applications
      li
        p= app
  - }