extends layout

block content
  p You can grab from linkedIn
  a.btn.btn-primary(href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=77tgqz6flgej2j&redirect_uri=http%3A%2F%2Freu-apply.com%2Fauth%2Flinkedin%2Fcallback&state=0928354") LinkedIn
  br
  br
  p ...or fill it out yourself
  form
    fieldset.form-group
      label(for="test") Test
        input.form-control(type="text" id="test")    

    
