body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-outer {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 0px;
}

.main-inner {
    background-color: #FFF;
    margin: 15px;
}

.tb-highlighted {
    color: #FFFFFF !important;
    background-color: rgba(0,0,0,0.1) !important;
}

.navbar-fixed-top {
    border-bottom: 0px;
}

.sb-nav {
    float: left;
    background-color: rgba(0,0,0,0.2);
    padding: 0px;
    min-width: 100px;
    clear: left;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 0px;
    height: 100%;
    border-radius: 0px;
}

.sb-nav ul {
    clear: left;
    list-style: none;
}

.sb-nav li {
    clear: left;
}

.sb-nav a {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

.sb-header {
    color: #000;
    float: left;
    clear: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #0A304E;
    width: 100%;
    color: white;
}

.content {
    padding: 10px;
    overflow: hidden;
    height: 100%;
}

.content-header {
    margin-top: 0px;
}

#edit-profile-button {
    margin-left: 10px;
}

#profile-header {
    display: inline;
}

#profile-section-header {
}

#profile-email-header {
}

#profile-email {
}

.reu-search-results {
    margin-top: 20px;
}

.reu-search-list {
    list-style: none;
    padding: 0px;
}

.reu-search-list li {
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
}