body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tb-highlighted {
    color: #FFFFFF !important;
    background-color: rgba(0,0,0,0.3) !important;
}

.sb-nav {
    display: block;
    float: left;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
    width: 10%;
    min-width: 100px;
}

.sb-nav {
    clear: left;
}

.sb-nav ul {
    clear: left;
    list-style: none;
}

.sb-nav li {
    clear: left;
}

.sb-nav a {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

.sb-header {
    color: #000;
    display: block;
    float: left;
    clear: left;
}

.main {
    margin-top: 10px;
}

.content {
    float: left;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000000;
    width: 80%;
}

.content-wide {
    float: left;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000000;
    width: 90%;
}

.content-header {
    margin-top: 0px;
}

#edit-profile-button {
    margin-left: 10px;
}

#profile-header {
    display: inline;
}

#profile-section-header {
}

#profile-email-header {
}

#profile-email {
}